# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
.pytest_cache/

# PyCharm
.idea/

# VSCode
.vscode/

# Environment files
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Operating System Files
.DS_Store
Thumbs.db

# Ignore specific large data file
data_processors/arxiv/arxiv-metadata-oai-snapshot.json